button{
    margin-left: 70px;
    opacity: 0.7;
    border-radius: 50px;
    border: 2px solid  rgb(99, 128, 96)(175, 132, 132);
    height:60px;
    width:200px;
    background-color: rgb(34, 111, 131);
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    color: white;
}
button:hover{
    border: 4px solid rgb(79, 122, 128));
    opacity: 0.8;
}

.navbar{
    color:white;
}
#btns{
    align-self: center;
    margin-left:330px;
    margin-top: 5px;
}
li{
    float: left;
}




.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
  